* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Montserrat, Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#categories {
  display: flex;
  flex-direction: column;
  width: 440px;
  padding: 24px;
  row-gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 392px;
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
}

.item h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.04px;
}

.item ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.item ul li {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 40px;
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.gallery {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
  margin: 100px 156px;
}

img {
  width: 360px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

#name-input {
  margin-top: 24px;
  width: 360px;
  height: 40px;
  padding: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
}

h1 {
  padding-top: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  row-gap: 8px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form label input {
  width: 360px;
  height: 40px;
  line-height: 24px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
}
.login-form label input:hover {
  border: 2px solid #000000;
}

.login-form button {
  font-family: "Montserrat", sans-serif;
  margin-top: 16px;
  outline: none;
  border: none;
  width: 86px;
  height: 40px;
  border-radius: 8px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.login-form button:hover {
  background-color: #6c8cff;
}

.widget {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 100px 88px;
  align-items: center;
  width: auto;
}

.widget p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.change-color {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 148px;
  height: 40px;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  background-color: #4e75ff;
}

.change-color:hover {
  background-color: #6c8cff;
}

#controls {
  display: flex;
  width: 490px;
  height: 104px;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  background-color: #f6f6fe;
  border-radius: 8px;
  column-gap: 16px;
}

#controls input {
  width: 150px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#controls button {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  color: #ffffff;
}

#controls button[data-create] {
  background-color: #4e75ff;
}

#controls button[data-create]:hover {
  background-color: #6c8cff;
}

#controls button[data-destroy] {
  background-color: #ff4e4e;
}

#controls button[data-destroy]:hover {
  background-color: #ff7070;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  width: 490px;
  gap: 44px;
  padding: 32px;
  background-color: #f6f6fe;
  margin-top: 16px;
  border-radius: 8px;
}
